@model List<AracTakipSistemi.DAL.Concrete.tbl_Cihaz>
@{
    ViewBag.Title = "Cihaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Cihazlar</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">CihazAD</th>
            <th scope="col">CihazIP</th>
            <th scope="col">CihazPort</th>
            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.CihazAd</td>
                <td scope="row">@item.CihazIP</td>
                <td scope="row">@item.CihazPort</td>
                <td><a href="/Cihaz/DeleteCihaz/@item._id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Cihaz/GetCihaz/@item._id" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }

    </tbody>
</table>