@model AracTakipSistemi.DAL.Concrete.tbl_Cihaz
@{
    ViewBag.Title = "GetCihaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>@Model.CihazAd Cihazı Güncelleme</h2>


<div class="row">
    <div class="col-md-6">
        <label>IP</label>
        <input type="text" id="IP" class="form-control" value="@Model.CihazIP"/>
    </div>
    <div class="col-md-6">
        <label>Port</label>
        <input type="text" id="Port" class="form-control" value="@Model.CihazPort"/>
    </div>
</div>
<br />
<input type="button" class="btn btn-success" value="Ip Port Kaydet" onclick="KaydetCihaz()"/>
<script>
    function KaydetCihaz() {
        var ip = $("#IP").val();
        var port = $("#Port").val();
        $.ajax({
            url: "/update-cihaz",
            dataType: "json",
            type: "POST",
            data: { ip: ip,port:port,id:'@Model._id'}
        })
    }
</script>




