<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Günay Özcan 190720016-Araç Takip Sistemi</title>
    <link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Folder/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/Folder/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Folder/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Folder/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Folder/vendors/styles/style.css">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>

    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>

        </div>
        <div class="header-right">

            <div class="user-info-dropdown">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">

                        <span class="user-name">Günay ÖZCAN</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item" href="/Login" onclick="Cıkıs()"><i class="dw dw-logout"></i> Çıkış Yap</a>
                    </div>
                </div>
            </div>
            <div class="github-link">
                <a href="https://github.com/dropways/deskapp" target="_blank"><img src="vendors/images/github.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="left-side-bar">
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <br />
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-house-1"></span><span class="mtext">Kullanıcılar</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/get-all-users">Tüm Kullanıcılar</a></li>
                            <li><a href="/create-kullanicilar">Kullanıcı Oluştur</a></li>
                        </ul>
                    </li>
                    <br />
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-copy"></span><span class="mtext">Müşteriler</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/get-all-musteri">Tüm Müşteriler</a></li>
                            <li><a href="/add-musteri">Yeni Müşteri Oluştur</a></li>
                        </ul>
                    </li>
                    <br />
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-library"></span><span class="mtext">Araçlar</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/get-all-araclar">Tüm Araçlar</a></li>
                            <li><a href="/create-arac">Araç Ekle</a></li>
                        </ul>
                    </li>
                    <br />
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-list3"></span><span class="mtext">Cihazlar</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/get-all-cihaz">Tüm Cihazlar</a></li>

                        </ul>
                    </li>
                    <br />
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-browser2"></span><span class="mtext">Markalar</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/get-all-marka">Tüm Markalar</a></li>
                            <li><a href="/create-marka">Marka Ekle</a></li>
                        </ul>
                    </li>
                    <br />
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-right-arrow1"></span><span class="mtext">Modeller</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/get-all-model">Tüm Modeller</a></li>
                            <li><a href="/create-model">Model Oluştur</a></li>
                        </ul>
                    </li>
                    <br />
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-paint-brush"></span><span class="mtext">Motorlar</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/get-all-motor">Tüm Motorlar</a></li>
                            <li><a href="/create-motor">Yeni Motor Oluştur</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-menu-overlay"></div>
    <div class="main-container">

        @RenderBody()

    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <!-- js -->
    <script src="~/Folder/vendors/scripts/core.js"></script>
    <script src="~/Folder/vendors/scripts/script.min.js"></script>
    <script src="~/Folder/vendors/scripts/process.js"></script>
    <script src="~/Folder/vendors/scripts/layout-settings.js"></script>
    <script src="~/Content/select2.min.js"></script>
    <script src="~/Folder/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Folder/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Folder/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/Folder/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Folder/vendors/scripts/dashboard.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

        function Cıkıs() {
            $.ajax({
                url: "/cikis-islemi",
                success: function () {
                    window.location.replace("/Login");

                }


            })
        }
    </script>
</body>
</html>